@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&family=Livvic&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@300&family=Roboto&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.list {
    list-style: none;
}