.tab-con {
    width: 60%;
    height: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab-title {
    margin-right: 30px;
}

.tab {
    margin-top: 10px;
    background-color: rgba(0, 255, 255, 0.347);
    font-weight: bold;
    cursor: pointer;
    padding: 5px 10px;
}

.content {
    display: none;
}

.content-active {
    display: block;
}